/* Reset CSS */
* {
    /* Margem = Externa */
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Cor Fundo  */
    background-color:#5e75c7 ;

    /* Cor textos */
    color: #fff9f9;
}

/* seletor para os <A> */
a {
 text-decoration:none ;
 color: #93d0f3;
} 


/* HEADER = Cabeçalho */
header {
    /* ROW Linha Horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f6;
    /* Largura ou Comprimento */
    width:100%;
}

/* UL sistema lista Topicos */
.menu {
    list-style: none;
    /* Lista horizontal */
    display: flex;
    /* espaço entre TAGs */
    gap: 1rem; /* um rem */
}



/*Tag NAV*/
.menu-desktop {
    display: nome; 
}
/* Logo */
.logo {
    width: 13rem;
}
/* Daqui pra cima Versão Mobile */

/* Responsivo */ 
/* Serve para as telas Maiores */

/* Telas Maiores 768px*/
@media (min-width: 768px){ 
  header {
    /* espaço inteiro */
    padding: 1rem 6rem;
    justify-content: ;
    gap: ;
  }


    /* NAV */
    .menu-desktop {
         display: flex;
    }
}

