/* Reset CSS */
* {
    /* Margem = Externa */
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Cor Fundo  */
    background-color:#3e60db ;

    /* Cor textos */
    color: #fff;
}

/* seletor para os <A> */
a {
 text-decoration:none ;
 color: #fff;
} 


/* HEADER = Cabeçalho */
header {
    /* ROW Linha Horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7f89f3;
    /* Largura ou Comprimento */
    width:100%;
}

/* UL sistema lista Topicos */
.menu {
    list-style: none;
    /* Lista horizontal */
    display: flex;
    /* espaço entre TAGs */
    gap: 1rem; /* um rem */
}

